:root {
  --orange: #ef6d58;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-size: 16px;
  background-color: #28293e;
  font-family: "Epilogue", sans-serif;
  color: white;
}
header {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.brand {
  color: var(--orange);
  width: 15%;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 3rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-links {
  font-size: 1rem;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: white;
}
.contact {
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 800;
  border-radius: 5px;
  border: 1px solid grey;
}
/* START MAIN */
main {
  width: 80%;
  margin: 0 auto;
  margin-top: 11.25rem;
}
.main-container {
  width: 50%;
}
.main-name {
  color: var(--orange);
  letter-spacing: 2px;
}
.main-text {
  font-size: 4.5rem;
  margin-top: 2rem;
  font-weight: bold;
}
.main-description {
  color: #707070;
  margin-top: 2rem;
  line-height: 1.8;
}
.main-btn {
  display: inline-block;
  border-radius: 5px;
  font-weight: 800;
  margin-top: 2rem;
  color: white;
  background-color: var(--orange);
  padding: 1rem 1.5rem;
}
section {
  background-color: #fdf0e9;
  color: #28293e;
  margin-top: 200px;
  padding: 6rem 8rem;
}
.section-title-container {
  display: flex;
  justify-content: center;
}
.section-title h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--orange);
}
.section-title p {
  color: #391400;
  margin-top: 2rem;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
}
/* END MAIN */
.service-container {
  display: flex;
  justify-content: space-between;
  margin: 4.2rem 0;
}
.service {
  border: 1px solid #f3d1bf;
  padding: 3rem;
}
.service-logo {
  display: flex;
}
.service-logo i {
  margin-right: 10px;
  color: white;
  font-size: 1.5rem;
  background-color: var(--orange);
  padding: 1.5rem;
  border-radius: 50%;
}
.logo-text-srv {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 25px;
  font-weight: 800;
}
.service-description {
  margin-top: 2rem;
  color: #707070;
}
.want-more-servise {
  display: flex;
  justify-content: center;
  color: #707070;
}
.want-more-servise a {
  color: #391400;
}
